__pycache__/
tabGenerator/tabGenerator/__pycache__/
*.pyc
*.egg-info/
.tox/
.coverage*
.pytest_cache/

*.mp3

data/*
node_modules/*
djangomir/mediafiles/*
djangomir/accounts/migrations/*
djangomir/uploadapp/migrations/*
djangomir/tab_generator/migrations/*
djangomir/users/migrations*
.idea/*

react/node_modules/*

djangomir/tabs/migrations/*
djangomir/users/migrations/*
djangomir/products/migrations*
djangomir/tabs/migrations/*
/venv/*

